.header-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.header {
	width: 95%;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2.8rem 0 2.8rem 0;

	&__logo {
		width: 13rem;
		height: 4rem;
		@media (max-width: 768px) {
			width: 7rem;
		}
	}
	&__navbar {
		&--link {
			padding-right: 3rem;
			color: $black;
			text-align: right;
			font-family: "Montserrat", sans-serif;
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 500;
			text-decoration: none;
			@media (max-width: 768px) {
				font-size: 0.75rem;
				padding-right: 1.6rem;
			}
		}
		.active {
			text-decoration: underline 0.1rem;
		}
	}
}
