@import "../../styles/Utils/variables";

.logement__title {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	&--title {
		color: $red;
		font-family: "Montserrat", sans-serif;
		font-size: 2.25rem;
		font-style: normal;
		font-weight: 500;
		margin: 0;
		padding: 0;
	}
	&--txt {
		color: $black;
		font-family: "Montserrat", sans-serif;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 500;
		margin: 0;
		padding: 0;
	}
}
