.logement__container {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	&__collapse {
		width: 95%;
		display: flex;
		flex-direction: row;
		gap: 4.7rem;
		@media (max-width: 768px) {
			flex-direction: column;
			gap: 0;
		}
		.collapse-logement {
			@media (max-width: 768px) {
				width: 100%;
			}
		}
	}
}

.logement {
	width: 95%;
	height: auto;
	display: flex;
	flex-direction: row;
	margin: 1.8rem 0;
	@media (max-width: 768px) {
		flex-direction: column;
	}
	&__header {
		width: 50%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1.2rem;
		@media (max-width: 768px) {
			width: 100%;
		}
	}
	&__info {
		width: 50%;
		height: auto;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 768px) {
			width: 100%;
			flex-direction: row-reverse;
		}
	}
}
